 <div class="container bg-light">
            
     <div class="row">
       <div class="col-md-4 col-sm-6">
        <div class="pt-3">
        <img  src="assets/objdet.jpg"  style="width:100%">
        </div>

        <div>
          <h5><strong>Object Detection Using CNN</strong></h5>
          <h5 ><b>Technology :</b> Artifical Intelligence </h5>
        </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="pt-3">
            <img  src="assets/devan.JPG"  style="width:100%">
            </div>
    
            <div>
              <h5><strong> Devanadiri Hand Written Recognition</strong> </h5>
              <h5 ><b>Technology :</b> Artifical Intelligence </h5>
            </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pt-3">
                <img  src="assets/anaylt.jpg"  style="width:100%">
                </div>
        
                <div>
                  <h5><strong>House Loan Data Analysis </strong> </h5>
                  <h5 ><b>Technology :</b> data anaytics and visualisation  </h5>
                </div>
                </div>
        </div>

        </div>

        
         
