 <div class="container  bg-light my-4">
        <div class="row pt-5 px-3 py-5">
          <div class="col">
            
        
              <p class="text-justify"> I am Abdul  currently doing Masters in Electronics Engineering from Punjab Egineering College. My research uses tools from Artificial Intelligence and statistics to make machines more robust and reliable — especially in challenging tasks involving visual perception, Natural language processing . 
                My research interest lie in the capability of machine and other agents to develop intelligent behavior through learning and interaction and extend the capability of Artificial Intelligence to Wireless Communication and Image Processing domain. Previously, I was a bachelor's student at Rajiv Gandhi Institute OF technology Kerala.
                At my undergraduation only I developed a keen interest in Artificial Intelligence due to my professor who was a alumnus of Indian Institute Of Science Bangalore. Since then I have been working in this field and done various projects related to it.   

            
                </p>


                <a href="https://drive.google.com/file/d/1WQU5MY3vw4J23S51b2SvRBA2E0lPt-Fi/view?usp=sharing" class="btn btn-outline-info">Resume</a>

                
          
            </div>
          </div>
          </div>

   
   