<div class="container bg-light pt-4">
 <div class="row">
   <div class="col-md-12">
      <h2> Sign board Translation From Vernacular Languages </h2>
      <img class="pt-4" src="assets\cnn-rnn.JPG" width="100%" style="max-height: 200px;">
      <p class="pt-5">
         Sign board Translation From Vernacular Languages Using CNN-RNN Encder Decoder Model <br><br>
         The task at and at top level can be split into three major divisons:-<br><br>
         1) Text Detection: An object detection engine to detect signboard objects in the given image.<br>

         2) Text Recognition: A CNN-RNN encoder decoder model to convert the cropped signboard into text (a sequence of characters)<br>

         3) Transliteration: A sequence-to-sequence with attention model for transliterating the above sequence of characters to the desired language.<br>
      </p>
    </div>
   
 </div>
</div>

